<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .post{
            border: 1px solid sandybrown;
            border-radius: 1em;
            padding: 1em;
        }
        .blog-head {
            background-color: aquamarine;
            padding: 1em;
            margin-bottom: 1em;
        }
        .filter-block {
            background-color: bisque;
            text-align: center;
            border-radius: 1em;
            margin: 1em;
            padding: 1em;
        }
    </style>
</head>
<body>
<header class="blog-head">
    <h1> My Blogs </h1>
    <form>
        <label for="search">Search</label>
        <input type="text" id="search" name="search" required>
        <input type="submit" value="Search">
    </form>
</header>

<div class="filter-block">
    <form>
        <input type="radio" name="author" id="author" value="author">
        <label for="author">Author</label>

        <input type="radio" name="date" id="date" value="date">
        <label for="date">date</label>

        <hr>
        <input type="radio" name="author" id="asc" value="author" checked>
        <label for="asc">Ascending</label>
        <input type="radio" name="author" id="desc" value="author">
        <label for="desc">Descending</label>
        <hr>

        <input type="submit" value="Filter">
    </form>
</div>

<section>
    <article class="post">
        <p><span> Ankit Patel </span> <span>12/12/2012</span></p>
        <hr>
        <p>
            <span>This is a title</span>
            <span><em>in Java Script</em> </span>
        </p>
        <hr>
        <p> His journey into the research space was initiated by his desire “to be a part of the solution.” He’s always been interested in treating people, but instead of prescribing treatments, he found himself more drawn to contributing to the development of the treatment itself–leading to his current work in developing therapeutics. </p>
        <hr>
        <p><strong>#TestTag</strong></p>
    </article>

</section>

</body>
</html>