<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="US-ASCII"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Comment form</title>
</head>
<body>
<div class="form-container blog-post-form-container">
    <div class="form-header">New/Edit Comment</div>
    <form action="#" method="post" th:action="@{/save-comment}" th:object="${comment}">
        <input th:field="*{id}" type="hidden">
        <input th:field="*{post}" type="hidden">
        <input th:field="*{createdAt}" type="hidden">
        <input th:field="*{updatedAt}" type="hidden">
        <input th:field="*{user}" type="hidden">




        <label th:if="${comment.user == null}" class="input-label" for="name">Name</label><br/>
        <input th:if="${comment.user != null}" th:field="*{name}" type="hidden">
        <input th:if="${comment.user == null}" class="input-field" id="name" name="name" required th:field="*{name}" type="text"/>


            <label th:if="${comment.user == null}"  class="input-label" for="email">Email</label><br/>
            <input th:if="${comment.user != null}" th:field="*{email}" type="hidden">
            <input th:if="${comment.user == null}" class="input-field" id="email" name="email" required th:field="*{email}" type="text"/>

        <label class="input-label" for="comment">Title</label><br/>
        <input class="input-field" id="comment" name="comment" required th:field="*{content}" type="text"/>
        <br/>
        <br/>

        <input class="btn" type="submit" value="SUBMIT"/>
    </form>


</div>
</body>
</html>
