<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Blog Home</title>
</head>
<body id="dash-body">

<header class="nav-bar">
    <a th:href="@{feed}">
        <div>
            <h1 class="nav-logo">My Blog Application</h1>
        </div>
    </a>
    <div class="options">
        <a class="nav-item" href="#" th:href="@{/sign-in}">Login</a>

        <form th:action="@{feed}">
            <label for="search"></label>
            <input
                    class="input-field search-field"
                    id="search"
                    name="search"
                    placeholder="Search"
                    required
                    type="text"
            />
            <input class="nav-item" type="submit" value="Search"/>
        </form>

        <a class="nav-item" href="#" th:href="@{new-post}">New Post</a>

        <label class="white-label" for="sort">Sort</label>

        <form th:href="@{/feed}">
            <input type="hidden" name="start" th:value="${start}">
            <input type="hidden" name="limit" th:value="${limit}">
            <select id="sort" name="sort-field">
                <option value="title">title</option>
                <option value="excerpt">excerpt</option>
                <option value="content">content</option>
                <option value="author">author</option>
                <option selected value="publishedAt">published At</option>
            </select>

            <select name="order" value="asc">
                <option value="asc" >ascending</option>
                <option selected value="desc">descending</option>
            </select>

            <input type="submit" value="sort">
        </form>

        <label class="white-label" for="filter">filter</label>
        <select id="filter" name="filter">
            <option value="name">by name</option>
        </select>
    </div>
</header>
<div class="nav-bar"></div>

<section th:each="post : ${posts}">
    <article class="blog-post-item">
        <h1 th:text="${post.title}"></h1>
        <h3><span th:text="${post.author}"></span>,<span th:text="${post.publishedAt}"></span></h3>
        <br/><br/>
        <p th:text="${post.content}"></p>
        <a class="" th:href="@{edit-post(id=${post.id})}">Edit</a>
        <a class="" th:href="@{show-post(id=${post.id})}">view</a>
        <a class="" th:href="@{delete-post(id=${post.id})}">delete</a>
    </article>
</section>

<footer>
    <nav class="nav-bar">
        <a class="nav-item" href="#" th:href="@{feed(start=${start}+${limit},limit=${limit},sort-field=${sortingField},order=${sortingOrder})}">Next &gt;</a>
        <a class="nav-item left-float-item" href="#" th:href="@{feed(start=${start} - ${limit},limit=${limit},sort-field=${sortingField},order=${sortingOrder})}">&lt;
            Previous</a>
    </nav>
</footer>
</body>
</html>
