<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Blog Home</title>
</head>

<body id="dash-body">

<header class="nav-bar">
    <a th:href="@{/}">
        <div>
            <h1 class="nav-logo">My Blog Application</h1>
        </div>
    </a>

    <br><br>
    <a class="nav-item" href="#" th:href="@{/sign-in}">Login</a>
    <a class="nav-item" href="#" th:href="@{new-post}">New Post</a>
</header>

<!--Search Form-->
<form class="option-form-container" th:href="@{/}">
    <h2>Search</h2>
    <input name="page" type="hidden" value="0">
    <input name="size" th:value="${size}" type="hidden">
    <label for="search">
        <input
                id="search"
                name="keyword"
                placeholder="Search"
                th:value="${keyword}"
                type="text"
        />
    </label>
    <input type="submit">
</form>


<!--    Filter Form    -->
<form class="option-form-container" th:href="@{/}">
    <h2>Filter</h2>
    <!--        <input name="page" th:value="${page}" type="hidden">-->
    <input name="page" type="hidden" value="0">
    <input name="size" th:value="${size}" type="hidden">
    <input name="keyword" th:value="${keyword}" type="hidden">
    <!--    <input name="author" th:if="${!author.isEmpty()}" th:value="${author}" type="hidden">-->
    <input name="tag" th:value="${selectedTags}" type="hidden">

    <label>
        Start Date
        <input name="start-date" type="date">
    </label>

    <label>
        End Date
        <input name="end-date" type="date">
    </label>

    <label>
        Author
        <select name="author">
            <option disabled selected value="">select author</option>
            <option th:each="author : ${authors}" th:name="${author}" th:text="${author}" th:value="${author}"></option>
        </select>
    </label>
    <br>

    <label th:each="t : ${tags}">
        <input name="selected-tags" th:text="${t}" th:value="${t}" type="checkbox">
    </label>
    <br>
    <span th:each="tag : ${selectedTags}" th:if="${!selectedTags.isEmpty()}">
        <span th:text="${tag}"></span>
        |</span><br>
    <p th:if="${!author.isEmpty()}" th:text="${author}"></p><br>
    <input type="submit" value="submit">
</form>

<!--        Sorting-->
<form class="option-form-container" th:href="@{/}">
    <h2>Sort</h2>
    <input name="page" type="hidden" value="0">
    <input name="size" th:value="${size}" type="hidden">
    <input name="keyword" th:value="${keyword}" type="hidden">
    <label>
        Sorting Field
        <select id="sort" name="sort-field">
            <option value="title">title</option>
            <option value="excerpt">excerpt</option>
            <option value="content">content</option>
            <option value="author">author</option>
            <option selected value="publishedAt">published At</option>
        </select>
    </label>

    <label>
        Sorting order
        <select name="order">
            <option value="asc">ascending</option>
            <option selected value="desc">descending</option>
        </select>
    </label>
    <input type="submit">
</form>

<section th:each="post : ${posts}">
    <article class="blog-post-item">
        <p><strong>title : </strong><span th:text="${post.title}"></span></p>
        <p><strong>excerpt : </strong><span th:text="${post.excerpt}"></span></p>
        <p><strong>content : </strong><span th:text="${post.content}"></span></p>
        <p><strong>author : </strong><span th:text="${post.author}"></span></p>
        <p><strong>publishedAt : </strong><span th:text="${post.publishedAt}"></span></p>
        <p><strong>isPublished : </strong><span th:text="${post.published}"></span></p>
        <p><strong>createdAt : </strong><span th:text="${post.createdAt}"></span></p>
        <p><strong>updatedAt : </strong><span th:text="${post.updatedAt}"></span></p>
        <p><strong>tags: </strong>
            <span th:each="tag : ${post.tags}">
            <span th:text="${tag.name}"></span> ,
        </span>
        </p>
        <a class="" th:href="@{edit-post(id=${post.id})}">Edit</a>
        <a class="" th:href="@{show-post(id=${post.id})}">view</a>
        <a class="" th:href="@{delete-post(id=${post.id})}">delete</a>
    </article>
</section>

<footer>
    <nav class="nav-bar">
        <a class="nav-item" href="#"
           th:href="@{/(page=${page} + 1,size=${size},sort-field=${sortingField},order=${sortingOrder},keyword=${keyword},start-date=${startDate},end-date=${endDate},author=${author},selected-tags=${selectedTags})}"
           th:if="${page} < ${totalPages} - 1">Next
            &gt;</a>
        <a class="nav-item left-float-item" href="#"
           th:href="@{/(page=${page} - 1,size=${size},sort-field=${sortingField},order=${sortingOrder},keyword=${keyword},start-date=${startDate},end-date=${endDate},author=${author},selected-tags=${selectedTags})}"
           th:if="${page} > 0">&lt;
            Previous</a>
    </nav>
</footer>
</body>
</html>
