<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Blog Home</title>
</head>

<body id="dash-body">

<header class="nav-bar">
    <a th:href="@{/}">
        <div>
            <h1 class="nav-logo">My Blog Application</h1>
        </div>
    </a>

    <br><br>
    <a class="nav-item" href="#" th:href="@{/sign-in}">Login</a>
    <a class="nav-item" href="#" th:href="@{new-post}">New Post</a>
</header>

<!-- Search Form -->
<div class="option-form-container">
    <form th:action="@{/}">
        <label for="search"></label>
        <input
                id="search"
                name="search"
                placeholder="Search"
                required
                type="text"
        />
        <input type="submit" value="Search"/>
    </form>
</div>


<!--    Filter Form    -->
<div class="option-form-container">
    <span class="white-label">Filter</span>
    <form th:href="@{/}">
        <input name="filter" type="hidden" value="true">
        <label>
            <input name="start-date" type="date">
        </label>

        <label>
            <input name="end-date" type="date">
        </label>

        <label>
            <select name="author">
                <option disabled selected value="">Author Name</option>
                <option th:each="user : ${users}" th:text="${user.name}" th:value="${user.name}">
                </option>
            </select>
        </label>

        <label>
            <input name="tags" placeholder="Tags separated by space" type="text">
        </label>

        <input type="submit" value="filter">
    </form>
</div>


<!--Sort Form-->
<div class="option-form-container">
    <span class="white-label">Sort</span>
    <form th:href="@{/}">
        <input name="start" th:value="${page}" type="hidden">
        <input name="limit" th:value="${limit}" type="hidden">
        <label>
            <select id="sort" name="sort-field">
                <option value="title">title</option>
                <option value="excerpt">excerpt</option>
                <option value="content">content</option>
                <option value="author">author</option>
                <option selected value="publishedAt">published At</option>
            </select>
        </label>

        <label>
            <select name="order">
                <option value="asc">ascending</option>
                <option selected value="desc">descending</option>
            </select>
        </label>

        <input type="submit" value="sort">
    </form>
</div>

<section th:each="post : ${posts}">
    <article class="blog-post-item">
        <h1 th:text="${post.title}"></h1>
        <h3><span th:text="${post.author}"></span>,<span th:text="${post.publishedAt}"></span></h3>
        <br/><br/>
        <p th:text="${post.excerpt}"></p>
        <p th:text="${post.content}"></p>
        <a class="" th:href="@{edit-post(id=${post.id})}">Edit</a>
        <a class="" th:href="@{show-post(id=${post.id})}">view</a>
        <a class="" th:href="@{delete-post(id=${post.id})}">delete</a>
    </article>
</section>

<footer>
    <nav class="nav-bar">
        <a class="nav-item" href="#"
           th:href="@{/(page=${page} + 1,limit=${limit},sort-field=${sortingField},order=${sortingOrder})}">Next
            &gt;</a>
        <a class="nav-item left-float-item" href="#"
           th:href="@{/(page=${page} - 1,limit=${limit},sort-field=${sortingField},order=${sortingOrder})}">&lt;
            Previous</a>
    </nav>
</footer>
</body>
</html>
