<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Blog</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="nav-container">
    <nav class="nav-bar">
        <a class="nav-item" href="#" th:href="@{/user/sign-in}" th:if="${user==null}">Login</a>
        <a class="nav-item left-float-item" href="#" th:href="@{/}">My Blog Application</a>
    </nav>
</header>

<section class="form-container blog-post-container">
    <div class="form-header">
        <h1 th:text="${post.title}"></h1>
        <p>
            <span th:text="${post.user.name}"></span>,
            <span th:text="${post.publishedAt}"></span>
        </p>
        <p>
            <span th:each="tag : ${post.tags}">
            <span th:text="${tag.name}"></span> ,
        </span>
        </p>
    </div>
    <p id="content" th:text="${post.content}">
    </p>

    <form action="#" method="post" th:action="@{/save-comment}" th:object="${comment}">
        <input th:field="*{post}" type="hidden">

        <label for="comment-description">Comment</label>
        <input id="comment-description" th:field="*{content}" type="text"><br>

        <label for="name">Name</label>
        <input id="name" th:field="*{name}" type="text"><br>

        <label for="email">Email</label>
        <input id="email" th:field="*{email}" type="text"><br>

        <input type="submit">
    </form>

    <br>

    <table style="width:100%">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>comment</th>
            <th>post id</th>
            <th>created at</th>
            <th>updated at</th>
            <th>By</th>
            <th>delete</th>
            <th>update</th>
        </tr>
        <tr th:each="comment : ${post.comments}">
            <td th:text="${comment.id}"></td>
            <td th:text="${comment.name}"></td>
            <td th:text="${comment.email}"></td>
            <td th:text="${comment.content}"></td>
            <td th:text="${comment.post.id}"></td>
            <td th:text="${comment.createdAt}"></td>
            <td th:text="${comment.updatedAt}"></td>
            <td th:if="${comment.user}" th:text="${comment.user.name}"></td>
            <td>
                <a th:href="@{delete-comment(id=${comment.id},post-id=${post.id})}"
                   th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ||  (#authorization.expression('hasAnyRole(''ROLE_AUTHOR'',''ROLE_USER'')') && (comment.user!= null && ( user!= null) &&  (comment.user.id == user.id)))}">Delete</a>
            </td>

            <td>
                <a th:href="@{update-comment(id=${comment.id})}"
                   th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ||  (#authorization.expression('hasAnyRole(''ROLE_AUTHOR'',''ROLE_USER'')') && (comment.user!= null && ( user != null )&&(comment.user.id == user.id)))}">update</a>
            </td>
        </tr>
        </thead>
    </table>

    <br><br>
</section>
</body>
</html>
