<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="US-ASCII"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Post Form</title>
</head>
<body>
<div class="form-container blog-post-form-container">
    <div class="form-header">New/Edit Post</div>

    <form action="#" id="blog-post-form" method="post" th:action="@{/save-post}" th:object="${post}">
        <input th:field="*{id}" type="hidden">
        <!--        <input th:field="*{excerpt}" type="hidden">-->
        <!--        <input th:field="*{author}" type="hidden">-->
        <input th:field="*{publishedAt}" type="hidden">
        <input th:field="*{published}" type="hidden">
        <input th:field="*{createdAt}" type="hidden">
        <input th:field="*{updatedAt}" type="hidden">

        <label class="input-label" for="title">Title</label><br/>
        <input class="input-field" id="title" name="title" required th:field="*{title}" type="text"/>
        <br/>
        <br/>

        <label class="input-label" for="author">author</label><br/>
        <input class="input-field" id="author" name="author" required th:field="*{author}" type="text"/>
        <br/>
        <br/>

        <label class="input-label" for="excerpt">Excerpt</label><br/>
        <input class="input-field" id="excerpt" name="excerpt" required th:field="*{excerpt}" type="text"/>
        <br/>
        <br/>

        <label class="input-label" for="tag-string">Tags</label>
        <input class="input-field" id="tag-string" th:value="${tags}" name="tag-string" type="text"/>
        <span class="example-txt">example: #Java</span>
        <br/>
        <br/>

        <label class="input-label" for="content">Content</label> <br/>
        <textarea
                class="input-field"
                form="blog-post-form"
                id="content"
                name="content"
                rows="10"
                th:field="*{content}"
        ></textarea>
        <br/>
        <br/>

        <input class="btn" type="submit" value="SUBMIT"/>
    </form>
</div>
</body>
</html>
