<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="US-ASCII"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Sign up</title>
</head>
<body>
<div class="form-container signup-form-container">
    <!--    <div class="msg ${isRequestSaved  ? 'success-msg' : 'error-msg'}">${responseMsg}</div>-->
    <div class="form-header">Create Account</div>

    <form action="#" id="signup-form" method="post" th:action="@{save-user}" th:object="${user}">
        <label class="input-label" for="name">Name</label><br/>
        <input class="input-field" id="name" name="name" required th:field="*{name}" type="text"/>
        <br/>
        <br/>

        <label class="input-label" for="email">E-mail</label>
        <input
                class="input-field"
                id="email"
                name="email"
                required
                th:field="*{email}"
                type="email"
        />
        <span class="example-txt">example@example.com</span>
        <br/>
        <br/>

        <label class="input-label" for="password">Password</label>
        <input
                class="input-field"
                id="password"
                name="password"
                required
                th:field="*{password}"
                type="password"
        />
        <br/><br/>
        <label class="input-label" for="confirm-password"
        >Confirm Password</label
        >
        <input
                class="input-field"
                id="confirm-password"
                name="confirm-password"
                required
                type="password"
        />
        <br/><br/>

        <label>
            <input type="checkbox" name="authority" value="ROLE_ADMIN">admin
            <input type="checkbox" name="authority" value="ROLE_AUTHOR" >author
            <input type="checkbox" name="authority" value="ROLE_USER" checked> user
        </label>

        <input class="btn" type="submit" value="SUBMIT"/>
    </form>
    <br/>
    <p class="msg auth-msg">Have account? <a th:href="@{sign-in}">Login</a></p>
</div>
</body>
</html>
