<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="US-ASCII" />
    <title>Login</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="form-container sign-in-form-container">
    <div class="form-header">Login</div>


    <form action="#" th:action="@{/auth-user}"
    method="post">
        <!--          th:object="${user}"-->
        <label for="username" class="input-label" >User Name</label>
        <input type="text" id="username" name="username" class="input-field"
               required />
    <!--               th:field="*{name}"-->
    <br />
        <br />

        <label for="password" class="input-label" >Password</label>
        <input
                type="password"
                id="password"
                name="password"
                class="input-field"
                required
    />
    <!--                th:field="*{password}"-->
    <br /><br />

        <div th:if="${param.error != null}" class="msg error-msg">Wrong email or password</div>
    <div th:if="${param.logout != null}" class="msg success-msg">You have been logged out</div>

        <input class="btn" type="submit" value="LOGIN" />
        <p class="msg auth-msg">
            Don't have an account? <a th:href="@{sign-up}">Create one</a>
        </p>
    </form>
</div>
</body>
</html>
